export(
  powerEQTL.ANOVA,
  powerEQTL.scRNAseq,
  powerEQTL.SLR,
  powerLME,
  powerLMEnoCov
)


importFrom(stats,
           qf,
           pf,
           optim
          )

importFrom("stats", "pt", "qt")

importFrom("stats", "pnorm", "qnorm")

importFrom("stats", "uniroot")

importFrom("stats", "optimize")