export(
  minEffectEQTL.ANOVA,
  minMAFeQTL.ANOVA,
  minMAFeQTL.SLR,
  minSlopeEQTL.SLR,
  powerEQTL.ANOVA,
  powerEQTL.ANOVA2,
  powerEQTL.scRNAseq,
  powerEQTL.SLR,
  powerLME,
  powerLMEnoCov,
  ssEQTL.ANOVA,
  ssEQTL.ANOVA2,
  ssEQTL.SLR
)

importFrom(powerMediation,
           minEffect.SLR,
           power.SLR,
           ss.SLR)

importFrom(stats,
           qf,
           pf,
           optim
          )

importFrom("stats", "pnorm", "qnorm")

importFrom("stats", "uniroot")

importFrom("stats", "optimize")